<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Robot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Robot.Properties.Settings>
      <setting name="btnPageName" serializeAs="String">
        <value>E</value>
      </setting>
      <setting name="pageTwoHead" serializeAs="String">
        <value>Environmental Protection &amp; Control Programs</value>
      </setting>
      <setting name="pageTwobtn1" serializeAs="String">
        <value>Environmental Protection &amp; Control Department</value>
      </setting>
      <setting name="pageTwobtn2" serializeAs="String">
        <value>Environmental Programs</value>
      </setting>
      <setting name="pageTwobtn1Font" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="pageTwobtn2Font" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="pageTwoHeadFont" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="pageTwoHeadA" serializeAs="String">
        <value>مقدمة</value>
      </setting>
      <setting name="pageTwobtn1A" serializeAs="String">
        <value>إدارة حماية ومراقبة البيئة</value>
      </setting>
      <setting name="pageTwobtn2A" serializeAs="String">
        <value>البرامج البيئية</value>
      </setting>
      <setting name="pageTwobtn1FontA" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="pageTwobtn2FontA" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="pageTwoHeadFontA" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="pageThreeHead" serializeAs="String">
        <value>Environmental Protection &amp; Control Programs</value>
      </setting>
      <setting name="pageThreebtn1" serializeAs="String">
        <value>When did the Jubail Industrial City start working on environmental protection?</value>
      </setting>
      <setting name="pageThreebtn2" serializeAs="String">
        <value>What are the main objectives of the Department of Environmental Protection and Control?</value>
      </setting>
      <setting name="pageThreebtn3" serializeAs="String">
        <value>What are the main pillars of environmental conservation undertaken by the Royal Commission?</value>
      </setting>
      <setting name="pageThreebtn4" serializeAs="String">
        <value>How did the Royal Commission achieve harmony between the environment and the industry?</value>
      </setting>
      <setting name="pageThreeHeadA" serializeAs="String">
        <value>إدارة حماية ومراقبة البيئة</value>
      </setting>
      <setting name="pageThreebtn1A" serializeAs="String">
        <value>منذ متى بدأ العمل على المحافظة على البيئة في مدينة الجبيل الصناعية؟</value>
      </setting>
      <setting name="pageThreebtn2A" serializeAs="String">
        <value>ماهي أهم أهداف إدارة حماية ومراقبة البيئة؟ </value>
      </setting>
      <setting name="pageThreebtn3A" serializeAs="String">
        <value>ما أهم المرتكزات للمحافظة على البيئة التي قامت بها الهيئة الملكية؟ </value>
      </setting>
      <setting name="pageThreebtn4A" serializeAs="String">
        <value>كيف تمكنت الهيئة الملكية من إحداث التوافق بين البيئة والصناعة؟</value>
      </setting>
      <setting name="pageThreeHeadFont" serializeAs="String">
        <value>44</value>
      </setting>
      <setting name="pageThreebtn1Font" serializeAs="String">
        <value>23</value>
      </setting>
      <setting name="pageThreebtn2Font" serializeAs="String">
        <value>23</value>
      </setting>
      <setting name="pageThreebtn3Font" serializeAs="String">
        <value>23</value>
      </setting>
      <setting name="pageThreebtn4Font" serializeAs="String">
        <value>23</value>
      </setting>
      <setting name="pageFourHeadA" serializeAs="String">
        <value>برامج حماية ومراقبة البيئة</value>
      </setting>
      <setting name="pageFourbtn1A" serializeAs="String">
        <value>برنامج التصاريح البيئية</value>
      </setting>
      <setting name="pageFourbtn2A" serializeAs="String">
        <value>برنامج مراقبة جودة المياه</value>
      </setting>
      <setting name="pageFourbtn3A" serializeAs="String">
        <value>برنامج مراقبة الضجيج</value>
      </setting>
      <setting name="pageFourbtn4A" serializeAs="String">
        <value>التوعية البيئية</value>
      </setting>
      <setting name="pageFourbtn5A" serializeAs="String">
        <value>الأنظمة والمعايير البيئية</value>
      </setting>
      <setting name="pageFourbtn6A" serializeAs="String">
        <value>برنامج مراقبة جودة الهواء والأرصاد الجوية</value>
      </setting>
      <setting name="pageFourbtn7A" serializeAs="String">
        <value>برنامج مراقبة النفايات الصناعية</value>
      </setting>
      <setting name="pageFourbtn8A" serializeAs="String">
        <value>حماية الحياة الفطرية</value>
      </setting>
      <setting name="pageFourHead" serializeAs="String">
        <value>Environmental Programs</value>
      </setting>
      <setting name="pageFourbtn1" serializeAs="String">
        <value>Environmental Regulations</value>
      </setting>
      <setting name="pageFourbtn2" serializeAs="String">
        <value>Air Quality Program</value>
      </setting>
      <setting name="pageFourbtn3" serializeAs="String">
        <value>Industrial Waste Management</value>
      </setting>
      <setting name="pageFourbtn4" serializeAs="String">
        <value>Protection of Wildlife</value>
      </setting>
      <setting name="pageFourbtn5" serializeAs="String">
        <value>Environmental Permits</value>
      </setting>
      <setting name="pageFourbtn6" serializeAs="String">
        <value>Water Quality Program</value>
      </setting>
      <setting name="pageFourbtn7" serializeAs="String">
        <value>Noise Control</value>
      </setting>
      <setting name="pageFourbtn8" serializeAs="String">
        <value>Environmental Awareness</value>
      </setting>
      <setting name="pageFourHeadFont" serializeAs="String">
        <value>44</value>
      </setting>
      <setting name="pageFourbtn1Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourbtn2Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourbtn3Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourbtn4Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourbtn5Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourbtn6Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourbtn7Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourbtn8Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourAHead" serializeAs="String">
        <value>Environmental Regulations &amp; Standards</value>
      </setting>
      <setting name="pageFourAbtn1" serializeAs="String">
        <value>When were the environmental regulations and standards issued to the Royal Commission?</value>
      </setting>
      <setting name="pageFourAbtn2" serializeAs="String">
        <value>What are the environmental standards of the Royal Commission? </value>
      </setting>
      <setting name="pageFourAbtn3" serializeAs="String">
        <value>Are environmental standards updated? </value>
      </setting>
      <setting name="pageFourAbtn4" serializeAs="String">
        <value>Is there a system of environmental fines?</value>
      </setting>
      <setting name="pageFourAHeadA" serializeAs="String">
        <value>الأنظمة والمعايير البيئية</value>
      </setting>
      <setting name="pageFourAbtn1A" serializeAs="String">
        <value>متى تم إصدار الأنظمة والمعايير البيئية للهيئة الملكية؟</value>
      </setting>
      <setting name="pageFourAbtn2A" serializeAs="String">
        <value>من ماذا تتكون المعايير البيئية للهيئة الملكية؟</value>
      </setting>
      <setting name="pageFourAbtn3A" serializeAs="String">
        <value>هل يتم تحديث المعايير البيئية؟</value>
      </setting>
      <setting name="pageFourAbtn4A" serializeAs="String">
        <value>هل يوجد نظام للغرامات البيئية؟</value>
      </setting>
      <setting name="pageFourAbtn1Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourAbtn2Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourAbtn3Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourAbtn4Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourAHeadFont" serializeAs="String">
        <value>44</value>
      </setting>
      <setting name="pageFourBHead" serializeAs="String">
        <value>Air Quality &amp; Meteorology Monitoring Program</value>
      </setting>
      <setting name="pageFourBbtn1" serializeAs="String">
        <value>Are there air quality and meteorological monitoring stations in Jubail Industrial City?</value>
      </setting>
      <setting name="pageFourBbtn2" serializeAs="String">
        <value>What are the most important elements measured for air quality? </value>
      </setting>
      <setting name="pageFourBbtn3" serializeAs="String">
        <value>What are the working hours of air quality control stations? </value>
      </setting>
      <setting name="pageFourBbtn4" serializeAs="String">
        <value>Are emissions monitored from the source? </value>
      </setting>
      <setting name="pageFourBHeadA" serializeAs="String">
        <value>برنامج مراقبة جودة الهواء والأرصاد الجوية</value>
      </setting>
      <setting name="pageFourBbtn1A" serializeAs="String">
        <value>هل توجد محطات لمراقبة جودة الهواء والأرصاد الجوية في مدينة الجبيل الصناعية؟</value>
      </setting>
      <setting name="pageFourBbtn2A" serializeAs="String">
        <value>ما هي أهم العناصر التي يتم قياسها لجودة الهواء؟</value>
      </setting>
      <setting name="pageFourBbtn3A" serializeAs="String">
        <value>ما هي أوقات عمل محطات مراقبة جودة الهواء؟</value>
      </setting>
      <setting name="pageFourBbtn4A" serializeAs="String">
        <value>هل يتم مراقبة الانبعاثات من المصدر؟</value>
      </setting>
      <setting name="pageFourBHeadFont" serializeAs="String">
        <value>44</value>
      </setting>
      <setting name="pageFourBbtn1Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourBbtn2Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourBbtn3Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourBbtn4Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourCHead" serializeAs="String">
        <value>Industrial Waste Control Program</value>
      </setting>
      <setting name="pageFourCbtn1" serializeAs="String">
        <value>How is industrial waste managed in Jubail?</value>
      </setting>
      <setting name="pageFourCbtn2" serializeAs="String">
        <value>What are the benefits of waste recycling? </value>
      </setting>
      <setting name="pageFourCbtn3" serializeAs="String">
        <value>How to dispose of non-recyclable waste? </value>
      </setting>
      <setting name="pageFourCbtn4" serializeAs="String">
        <value>Are industrial waste allowed to leave Jubail Industrial City? </value>
      </setting>
      <setting name="pageFourCbtn1A" serializeAs="String">
        <value>كيف يتم إدارة النفايات الصناعية في مدينة الجبيل؟</value>
      </setting>
      <setting name="pageFourCbtn2A" serializeAs="String">
        <value>ما هي فوائد إعادة تدوير النفايات؟</value>
      </setting>
      <setting name="pageFourCbtn3A" serializeAs="String">
        <value>كيف يتم التخلص من النفايات الغير قابلة لإعادة التدوير؟</value>
      </setting>
      <setting name="pageFourCbtn4A" serializeAs="String">
        <value>هل يتم السماح للنفايات الصناعية بالخروج من مدينة الجبيل الصناعية؟</value>
      </setting>
      <setting name="pageFourCbtn1Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourCbtn2Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourCbtn3Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourCbtn4Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourCHeadFont" serializeAs="String">
        <value>44</value>
      </setting>
      <setting name="pageFourCHeadA" serializeAs="String">
        <value>برنامج مراقبة النفايات الصناعية</value>
      </setting>
      <setting name="pageFourDHead" serializeAs="String">
        <value>Protection of wildlife</value>
      </setting>
      <setting name="pageFourDbtn1" serializeAs="String">
        <value>What are the most important natural places in Jubail Industrial City?</value>
      </setting>
      <setting name="pageFourDbtn2" serializeAs="String">
        <value>What is the importance of mangrove plants ( Shura ) ?</value>
      </setting>
      <setting name="pageFourDHeadA" serializeAs="String">
        <value>حماية الحياة الفطرية</value>
      </setting>
      <setting name="pageFourDbtn1A" serializeAs="String">
        <value>هل تتم مراقبة الحياة الفطرية في مدينة الجبيل الصناعية؟</value>
      </setting>
      <setting name="pageFourDbtn2A" serializeAs="String">
        <value>هل توجد محمية طبيعية بمدينة الجبيل الصناعية؟</value>
      </setting>
      <setting name="pageFourDbtn3A" serializeAs="String">
        <value>ما أهمية نباتات المانجروف؟</value>
      </setting>
      <setting name="pageFourDHeadFont" serializeAs="String">
        <value>44</value>
      </setting>
      <setting name="pageFourDbtn1Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourDbtn2Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourDbtn3Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourEHead" serializeAs="String">
        <value>Environmental Permits Program</value>
      </setting>
      <setting name="pageFourEbtn1" serializeAs="String">
        <value>Are there environmental licenses for industrial facilities?</value>
      </setting>
      <setting name="pageFourEbtn2" serializeAs="String">
        <value>Who is the responsible department for issuing the environmental license? </value>
      </setting>
      <setting name="pageFourEbtn3" serializeAs="String">
        <value>What are the procedures for issuing environmental licenses?</value>
      </setting>
      <setting name="pageFourEbtn4" serializeAs="String">
        <value>Should the environmental license be renewed?</value>
      </setting>
      <setting name="pageFourEHeadA" serializeAs="String">
        <value>برنامج التصاريح البيئية</value>
      </setting>
      <setting name="pageFourEbtn1A" serializeAs="String">
        <value>هل توجد رخص بيئية للمنشآت الصناعية؟</value>
      </setting>
      <setting name="pageFourEbtn2A" serializeAs="String">
        <value>من هي الإدارة المعنية بإصدار الرخصة البيئية؟</value>
      </setting>
      <setting name="pageFourEbtn3A" serializeAs="String">
        <value>ما هي الإجراءات المتبعة لإصدار الرخص البيئية؟</value>
      </setting>
      <setting name="pageFourEbtn4A" serializeAs="String">
        <value>هل يجب تجديد الرخصة البيئية؟</value>
      </setting>
      <setting name="pageFourEHeadFont" serializeAs="String">
        <value>44</value>
      </setting>
      <setting name="pageFourEbtn1Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourEbtn2Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourEbtn3Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourEbtn4Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourFHead" serializeAs="String">
        <value>Water Quality Control Programs</value>
      </setting>
      <setting name="pageFourFbtn1" serializeAs="String">
        <value>What water is monitored in Jubail Industrial City?</value>
      </setting>
      <setting name="pageFourFbtn2" serializeAs="String">
        <value>Will Gulf water be affected by industrial activities?</value>
      </setting>
      <setting name="pageFourFbtn3" serializeAs="String">
        <value>Are wastewater and industrial wastewater treated and what are they used?</value>
      </setting>
      <setting name="pageFourFbtn4" serializeAs="String">
        <value>How is the factory cooling process?</value>
      </setting>
      <setting name="pageFourFbtn5" serializeAs="String">
        <value>What are the most important quality measurement elements in water quality?</value>
      </setting>
      <setting name="pageFourFHeadA" serializeAs="String">
        <value>برامج مراقبة جودة المياه</value>
      </setting>
      <setting name="pageFourFbtn1A" serializeAs="String">
        <value>ما هي المياه التي يتم مراقبتها في مدينة الجبيل الصناعية؟</value>
      </setting>
      <setting name="pageFourFbtn2A" serializeAs="String">
        <value>هل تتأثر مياه الخليج من النشاطات الصناعية؟</value>
      </setting>
      <setting name="pageFourFbtn3A" serializeAs="String">
        <value>هل تتم معالجة مياه الصرف الصحي والصناعي وفي ماذا تستخدم؟</value>
      </setting>
      <setting name="pageFourFbtn4A" serializeAs="String">
        <value>كيف تتم عملية التبريد للمصانع؟</value>
      </setting>
      <setting name="pageFourFbtn5A" serializeAs="String">
        <value>ما هي أهم العناصر التي يتم قياسها في جودة المياه؟</value>
      </setting>
      <setting name="pageFourFHeadFont" serializeAs="String">
        <value>44</value>
      </setting>
      <setting name="pageFourFbtn1Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourFbtn2Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourFbtn3Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourFbtn4Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourFbtn5Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourGHead" serializeAs="String">
        <value>Noise Control Program</value>
      </setting>
      <setting name="pageFourGbtn1" serializeAs="String">
        <value>What is meant by noise control?</value>
      </setting>
      <setting name="pageFourGbtn2" serializeAs="String">
        <value>How does hype affect public health? </value>
      </setting>
      <setting name="pageFourGbtn3" serializeAs="String">
        <value>What are the permitted noise rates in Jubail Industrial? </value>
      </setting>
      <setting name="pageFourGHeadA" serializeAs="String">
        <value>برنامج مراقبة الضجيج</value>
      </setting>
      <setting name="pageFourGbtn1A" serializeAs="String">
        <value>ما هو المقصود بمراقبة الضجيج؟</value>
      </setting>
      <setting name="pageFourGbtn2A" serializeAs="String">
        <value>كيف يؤثر الضجيج على الصحة العامة؟</value>
      </setting>
      <setting name="pageFourGbtn3A" serializeAs="String">
        <value>ما هي نسب الضجيج المسموح بها في الجبيل الصناعية؟</value>
      </setting>
      <setting name="pageFourGHeadFont" serializeAs="String">
        <value>44</value>
      </setting>
      <setting name="pageFourGbtn1Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourGbtn2Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourGbtn3Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourHHead" serializeAs="String">
        <value>Environmental Awareness</value>
      </setting>
      <setting name="pageFourHbtn1" serializeAs="String">
        <value>What is the concept of environmental awareness?</value>
      </setting>
      <setting name="pageFourHbtn2" serializeAs="String">
        <value>Who is responsible for preserving the environment?</value>
      </setting>
      <setting name="pageFourHbtn3" serializeAs="String">
        <value>What are environmental awareness programs?</value>
      </setting>
      <setting name="pageFourHbtn4" serializeAs="String">
        <value>How to participate in raising environmental awareness?</value>
      </setting>
      <setting name="pageFourHHeadA" serializeAs="String">
        <value>التوعية البيئية</value>
      </setting>
      <setting name="pageFourHbtn1A" serializeAs="String">
        <value>ما هو مفهوم التوعية البيئية؟</value>
      </setting>
      <setting name="pageFourHbtn2A" serializeAs="String">
        <value>من المسؤول عن المحافظة على البيئة؟</value>
      </setting>
      <setting name="pageFourHbtn3A" serializeAs="String">
        <value>ما هي برامج التوعية البيئية؟</value>
      </setting>
      <setting name="pageFourHbtn4A" serializeAs="String">
        <value>كيف يمكن المشاركة أو الحصول على برامج التوعية البيئية؟</value>
      </setting>
      <setting name="pageFourHHeadFont" serializeAs="String">
        <value>44</value>
      </setting>
      <setting name="pageFourHbtn1Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourHbtn2Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourHbtn3Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageFourHbtn4Font" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="pageThreebtn1Audio" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageThreebtn2Audio" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageThreebtn3Audio" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageThreebtn4Audio" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageThreebtn1AudioA" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageThreebtn2AudioA" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageThreebtn3AudioA" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageThreebtn4AudioA" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourAbtn1Audio" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourAbtn2Audio" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourAbtn3Audio" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourAbtn4Audio" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourAbtn1AudioA" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourAbtn2AudioA" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourAbtn3AudioA" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourAbtn4AudioA" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourBbtn1Audio" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourBbtn2Audio" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourBbtn3Audio" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourBbtn4Audio" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourBbtn1AudioA" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourBbtn2AudioA" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourBbtn3AudioA" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourBbtn4AudioA" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourCbtn1Audio" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourCbtn2Audio" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourCbtn3Audio" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourCbtn4Audio" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourCbtn1AudioA" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourCbtn2AudioA" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourCbtn3AudioA" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourCbtn4AudioA" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourDbtn1Audio" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourDbtn2Audio" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourDbtn1AudioA" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourDbtn2AudioA" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourDbtn3AudioA" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourEbtn1Audio" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourEbtn2Audio" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourEbtn3Audio" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourEbtn4Audio" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourEbtn1AudioA" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourEbtn2AudioA" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourEbtn3AudioA" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourEbtn4AudioA" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourFbtn1Audio" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourFbtn2Audio" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourFbtn3Audio" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourFbtn4Audio" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourFbtn5Audio" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourFbtn1AudioA" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourFbtn2AudioA" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourFbtn3AudioA" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourFbtn4AudioA" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourFbtn5AudioA" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourGbtn1Audio" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourGbtn2Audio" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourGbtn3Audio" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourGbtn1AudioA" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourGbtn2AudioA" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourGbtn3AudioA" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourHbtn1Audio" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourHbtn2Audio" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourHbtn3Audio" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourHbtn4Audio" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourHbtn1AudioA" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourHbtn2AudioA" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourHbtn3AudioA" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
      <setting name="pageFourHbtn4AudioA" serializeAs="String">
        <value>Ring.wav</value>
      </setting>
    </Robot.Properties.Settings>
  </userSettings>
</configuration>